#ac_AnchorPane{
    -fx-background-image: url(/vista/gerente/images/fondo.jpg);
    -fx-background-size: cover;
}

#pn_Fondo{
    -fx-background-color: linear-gradient(rgba(105,105,105,0.4) 0%, rgba(0,0,0,0.4) 100%);
}

#pn_Cabecera{
    -fx-background-image: url(/vista/gerente/images/cabecera.png);
}

#bt_Inicio{
    -fx-background-image: url(/vista/gerente/images/inicio.png);
    -fx-background-size: cover;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    
}

#bt_Perfil, #bt_Ayuda{
    -fx-border-color: transparent;
    -fx-background-color: transparent;    
}

#bt_Perfil:hover, #bt_Ayuda:hover, #bt_LogOut:hover, #bt_Inicio:hover {
    -fx-background-color: rgba(0, 0,0, 0.3);
}

#bt_LogOut{
    -fx-background-image: url(/vista/gerente/images/logOut.png);
    -fx-background-size: cover;
    -fx-border-color: transparent;
    -fx-background-color: transparent;    
}

#bt_Fichar, #bt_Productos, #bt_Incidencias, #bt_Tiendas, #bt_Trabajadores, #bt_TrabajadorMas, #bt_TrabajadorMenos, #bt_Atras{
    -fx-background-insets:0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 0, 0 , 5, 5);
    -fx-background-size: cover;
}

#bt_Fichar{
    -fx-background-image: url(/vista/gerente/images/fichar.jpg);    
}

#bt_Productos{
    -fx-background-image: url(/vista/gerente/images/productos.jpg);    
}

#bt_Incidencias{
    -fx-background-image: url(/vista/gerente/images/incidencias.jpg);    
}

#bt_Tiendas{
    -fx-background-image: url(/vista/gerente/images/tiendas.jpg);    
}

#bt_Trabajadores{
    -fx-background-image: url(/vista/gerente/images/trabajador.jpg);
}

#bt_TrabajadorMas{
    -fx-background-image: url(/vista/gerente/images/trabajadorMas.jpg);
}

#bt_TrabajadorMenos{
    -fx-background-image: url(/vista/gerente/images/trabajadorMenos.jpg);
}

#bt_Atras{
    -fx-background-image: url(/vista/gerente/images/atras.jpg);
}

#bt_Fichar:pressed, #bt_Productos:pressed, #bt_Incidencias:pressed, #bt_Tiendas:pressed, 
#bt_Trabajadores:pressed, #bt_TrabajadorMas:pressed, #bt_TrabajadorMenos:pressed, #bt_Atras:pressed{
   -fx-translate-x: 5;
   -fx-translate-y: 5;
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 0, 0 , 0, 0);
}

#bt_Fichar:hover, #bt_Productos:hover, #bt_Incidencias:hover, #bt_Tiendas:hover, 
#bt_Trabajadores:hover, #bt_TrabajadorMas:hover, #bt_TrabajadorMenos:hover, #bt_Atras:hover{
   -fx-border-color: white;
}
